<a href="https://colab.research.google.com/github/jeongjinjoo/Big-Data-practice/blob/main/%EC%84%9C%EB%B9%84%EC%8A%A4_%EC%9D%B4%ED%83%88%EC%98%88%EC%B8%A1_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#데이터 로드
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?

In [9]:
result = df[df['Gender'] == 'Male'].groupby('Geography')['Exited'].value_counts()
print(result) # Germany/287

Geography  Exited
France     0         1949
           1          285
Germany    0          758
           1          287
Spain      0          979
           1          137
Name: count, dtype: int64

카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균 나이를 소숫점이하 4자리까지 구하여라?

In [16]:
a = df['HasCrCard'] == 1
b = df['IsActiveMember'] == 1
result = df[a & b]['Age'].mean()
print(round(result,4))

39.6102

Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 소숫점이하 3자리까지 구하여라

In [20]:
a = df['Balance'].quantile(0.50)
print(a)
b = df[df['Balance'] >= a]['CreditScore'].std()
print(round(b,3))

97259.25
97.295